/* change these */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800");
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently,
name the variables differently,
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Droid Serif", serif;
  --main-text-color: #000;

  --white-space: 0.5rem;

  --bg-color: linear-gradient(
    180deg,
    #dcbdfb,
    #bae3c0,
    #fdffc9,
    #d5f7ff,
    #ffd5f8
  );
  --link-color: ;
  --link-hover-color: ;
  --color-1: #c691fc;
  --color-2: #90e39c;
  --color-3: #f7fa9d;
  --color-4: #9cebfd;
  --color-5: #f7a1e9;
  --color-6: #dcbdfb;
  --color-7: #bae3c0;
  --color-8: #fdffc9;
  --color-9: #d5f7ff;
  --color-10: #ffd5f8;

  --primary-font: sans-serif;
  --secondary-font: serif;
  --main-text-color: #3b2b4b;

  --white-space: 2rem;
}

html {
  /* font-size: 62.5%; */
  font-family: var(--primary-font);
  font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  padding-right: 0.75em;
  font-weight: bold;
  color: var(--main-text-color);
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: var(--main-text-color);
  font-weight: bold;
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--main-text-color);
}

.header-wrapper h4 {
  font-size: 0.8rem;
  color: var(--main-text-color);
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(2 * var(--white-space));
}

.section-heading {
  font-style: italic;
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 7vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1-1 {
  background-image: var(--bg-color);
}

.color-swatch-1 {
  background-color: var(--color-1);
}

.color-swatch-2 {
  background-color: var(--color-2);
}

.color-swatch-3 {
  background-color: var(--color-3);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.color-swatch-6 {
  background-color: var(--color-6);
}

.color-swatch-7 {
  background-color: var(--color-7);
}

.color-swatch-8 {
  background-color: var(--color-8);
}

.color-swatch-9 {
  background-color: var(--color-9);
}

.color-swatch-10 {
  background-color: var(--color-10);
}

.textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
}

.texture-swatch-1 {
  background: url(../img/klistermaerker-farverige-malede-paskeag-panorama.jpg\ copy.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.texture-swatch-2 {
  background: url(../img/blå-copy.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.texture-swatch-3 {
  background: url(../img/purple.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.texture-swatch-4 {
  background: url(../img/gyserød.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  border: transparent;
  border-radius: 4px;
  background: var(--color-6);
  text-align: center;
  text-decoration: none;
  /* font: bold 1.25em/1 var(--primary-font); */
  /* letter-spacing: 1px; */
  /* color: white; */
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
  font-size: 1.5rem;
}
/* 
.secondary-button {
  background: var(--color-1);
} */

/* button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
} */

button:hover {
  background: var(--color-1);
}

/* button:active {
  background-color: var(--bg-color);
} */

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
}

.h2-sample {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1.25rem;
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--link-color);
  /* font-weight: bold; */
  text-decoration: underline;
  transition: all 0.2s;
}

a:hover {
  /* color: var(--link-hover-color); */
  /* font-size: 4rem; */
  /* background-color: var(--color-4); */
  /* opacity: 0.1; */
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.adjectives ul li {
  padding: 12px;
  font-size: 1em;
  color: var(--main-text-color);
  font-weight: bold;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 5vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
